*{
    padding: 0;
    margin: 0;
}

input{
    border: 0.5px solid rgba(0, 0, 0, 0.194);
    border-radius: 5px;

    margin-top: 5px;
    padding: 7px;
    width: 96%;
}
label{
    font-weight: 700;
    font-size: 20px;
}

.section-main{
    width: 100vw;
    
    display: flex;
}
.section-cards{
    position: relative;

    width: 40vw;
    height: 100vh;
    box-sizing: border-box;
    
    padding-top: 145px;
    
    background-image: url(assets/images/bg-main-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.img-card, #last-img{
    background-image: url(assets/images/bg-card-front.png);
    background-size: contain;
    background-repeat: no-repeat;

    width: 365px;
    height: 200px;
    padding-bottom: 10%;
    box-sizing: border-box;

    position: absolute;
    right: -95px;
    bottom: 285px;
    
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 15px;
    
    color: white;

}
.img-card h2 {
    width: 85%;
    
    word-spacing: 6px;
    letter-spacing: 4px;
    text-align: center;
}
.img-card span{
    display: flex;
    justify-content: space-between;

    width: 85%;
}
.date{
    display: flex;
}
#last-img {
    background-image: url(assets/images/bg-card-back.png);
    
    bottom: 50px;
    right: -175px;

    padding-bottom: 1%;

    justify-content: center;

    
}
#last-img span {
    text-align: end;

    width: 75%;
}

.section-informations{
    width: 60vw;
    height: 100vh;

    margin-left: 150px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-informations fieldset{
    width: 60%;

    border: none;
}
.section-informations form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    height: 300px;

}

.validity{
    display: flex;
    justify-content: space-between;

    width: 100%;

}
.mounth-day div{
    display: flex;
    gap: 10px;
}
#div-mouth input{
    width: 40px;
}
.cvc{
    width: 50%;
}
.cvc input{
    width: 92%;
}
#button-formCard{
    background-color: rgb(26, 26, 121);
    
    margin-top: 50px;
    width: 100%;
    padding: 10px;
    
    border: none;
    border-radius: 5px;

    font-size: 20px;
    font-weight: 700;
    color: white;

    cursor: pointer;
}
#button-formCard:hover{
    background-color: rgba(35, 35, 163, 0.867);
}



@media(max-width:832px){
    .section-main{
        flex-direction: column;
        justify-content: center;

        width: 100%;
        padding-bottom: 15%;
        
    }
    .section-cards{
        width: 100%;
        height: 75vh;
    }
    .img-card{
        bottom: -50px;
        left: 10%;

        width: 350px;
        padding-bottom: 5%;

        z-index: 2;
    }
    .img-card h2 {
        width: 85%;
        
        word-spacing: 3px;
        letter-spacing: 2px;
        text-align: center;
    }
    #last-img{
        bottom: 70px;
        right: 10%;

        width: 350px;
        
        z-index: 1;
    }
    .section-informations{
        margin: 0;
        width: 100%;
    }
    .section-informations fieldset{
        width: 70%;
        height: 50%;
    }
}

@media (max-width: 411px){
    .img-card{
        width: 320px;
        padding-bottom: 20%;
    }
    .img-card h2 {
        width: 75%;
        
        word-spacing: 2px;
        letter-spacing: 1.5px;
    }
    #last-img{
        width: 320px;
        padding-bottom: 6%;
    }
}
@media (max-width: 411px){
    .img-card{
        width: 320px;
        padding-bottom: 18%;
    }
    .img-card h2 {
        width: 75%;
        
        word-spacing: 1.5px;
        letter-spacing: 1px;
    }
    #last-img{
        width: 320px;
    }
}
@media (max-width: 380px){
    .img-card{
        width: 300px;
    }
    .img-card h2 {
        width: 75%;
        
        word-spacing: 1px;
        letter-spacing: 0.5px;
    }
    #last-img{
        width: 300px;
        padding-bottom: 10%;
    }
}