*{
    padding: 0;
    margin: 0;
}

input{
    border: 0.5px solid rgba(0, 0, 0, 0.194);
    border-radius: 5px;

    margin-top: 5px;
    padding: 7px;
    width: 96%;
}
label{
    font-weight: 700;
    font-size: 20px;
}

.section-main{
    width: 100vw;
    
    display: flex;
}
.section-cards{
    position: relative;

    width: 40vw;
    height: 100vh;
    box-sizing: border-box;
    
    padding-top: 145px;
    
    background-image: url(assets/images/bg-main-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.img-card{
    background-image: url(assets/images/bg-card-front.png);
    background-size: contain;
    background-repeat: no-repeat;

    width: 365px;
    height: 200px;
    padding-bottom: 20px;
    box-sizing: border-box;

    position: absolute;
    right: -95px;
    bottom: 285px;
    
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 15px;
    
    color: white;

}
.img-card h2 {
    width: 85%;
    
    word-spacing: 6px;
    letter-spacing: 4px;
    text-align: center;
}
.img-card span{
    display: flex;
    justify-content: space-between;

    width: 85%;
}
#last-img {
    background-image: url(assets/images/bg-card-back.png);
    
    bottom: 50px;
    right: -175px;

    padding-bottom: 3px;

    justify-content: center;

    
}
#last-img span {
    justify-content: end;

    width: 75%;
}

.section-informations{
    width: 60vw;
    height: 100vh;

    margin-left: 150px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-informations fieldset{
    width: 60%;

    border: none;
}
.section-informations form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    height: 300px;

}

.validity{
    display: flex;
    justify-content: space-between;

    width: 100%;

}
.validity{
    gap: 25px;
}
.mounth-day div{
    display: flex;
    gap: 10px;
}
#div-mouth input{
    width: 40px;
}
.validity input{
    width: 90%;
}
#button-formCard{
    background-color: rgb(26, 26, 121);
    
    margin-top: 50px;
    width: 100%;
    padding: 10px;
    
    border: none;
    border-radius: 5px;

    font-size: 20px;
    font-weight: 700;
    color: white;

    cursor: pointer;
}
#button-formCard:hover{
    background-color: rgba(35, 35, 163, 0.867);
}

